.projects-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.projects-heading {
  font-size: 56px;
  font-weight: 400;
  text-align: center;
}

.projects-cards-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
  gap: 1.5rem; /* Space between cards */

  /* Adjust for medium screens */
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  }

  /* Adjust for small screens */
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr); /* 1 card per row */
  }
}

/* Media Queries for Heading Size */
@media (max-width: 1380px) {
  .projects-heading {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .projects-heading {
    font-size: 30px;
    text-align: center;
  }
}
